/* Base styling */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #1d1f21;
    color: #eaeaea;
    margin: 0;
    padding: 0;
}

/* Header styling */
header {
    background-color: #2e3440;
    padding: 20px;
    text-align: center;
    color: #88c0d0;
}

/* Navigation menu */
nav {
    text-align: center;
    background-color: #3b4252;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #d08770;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    color: #a3be8c;
    transition: 0.3s;
}

/* Section styling */
.section {
    padding: 60px 20px;
    text-align: center;
}

h1 {
    font-size: 4rem; /* Adjust as needed */
    margin: 0;
}

/* Title styling */
h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #88c0d0;
}

/* About section */
.about-box p {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #3b4252;
    border-radius: 10px;
    color: #eaeaea;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: justify;
}

/* Skills section */
.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    list-style: none;
    padding: 0;
    max-width: 900px;
    margin: 0 auto;
}

.skills-list li {
    background-color: #4c566a;
    color: #eaeaea;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 1.2rem;
    min-width: 120px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Project section */
.project {
    max-width: 900px;
    margin: 0 auto;
    background-color: #4c566a;
    padding: 20px;
    border-radius: 10px;
    color: #eaeaea;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: justify;
}

.project a {
    color: #88c0d0;
    text-decoration: none;
    font-weight: bold;
}

.project a:hover {
    color: #d08770;
    text-decoration: underline;
}

/* Footer styling */
footer {
    background-color: #2e3440;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
    color: #888;
}
